%div{class: 'small-12 row intrusion-div'}
  = form_for @intrusion, url: {action: @form_action} do |f|
    .small-12
      = f.text_area :description, placeholder: 'Your intrusion...',
        tabindex: (@tabindex ? @tabindex+=1 : @tabindex=1), rows: 3,
        class: 'intrusion-textarea'
    .small-12
      Tags:
      = f.submit 'Save', class: 'radius, float-right', tabindex: (@tabindex+=1)
    .small-12
      %ul
        - (@tags.sort { |a,b| !( (a_has=a.intrusions.include?(@intrusion)) ^ b.intrusions.include?(@intrusion) ) ? a.name <=> b.name : (a_has ? -1 : 1) }).each do |tag|
          %li.tag-checkbox-li
            %label.tag-checkbox-label= link_to tag.name, tag, class: 'tag'
            = check_box_tag "intrusion[tag_ids][]", tag.id,
              @intrusion.tags.include?(tag), tabindex: (@tabindex+=1),
              class: 'tag-checkbox'