= form_for @intrusion, url: {action: @form_action},
    html: {role: 'form', id: 'intrusionForm'} do |f|
  .panel.panel-primary
    .panel-heading.intrusion-heading
      - if @intrusion.valid?
        Edit Intrusion
        = link_to 'delete', @intrusion, method: :delete,
          class: 'label label-danger pull-right'
      - else
        New Intrusion
    .list-group
      .list-group-item
        .form-group
          %label.sr-only{for: "intrusionTextarea#{@intrusion.id}"}
            Intrusion Description
          = f.text_area :description, placeholder: 'Your intrusion...',
            tabindex: (@tabindex ? @tabindex+=1 : @tabindex=1), rows: 3,
            id: "intrusionTextarea#{@intrusion.id}",
            class: 'form-control', autofocus: true
        .text-right
          = f.submit 'Save', class: 'btn btn-default', tabindex: (@tabindex+=1)
      .form-group.list-group-item
        %p Tags:
        .list-inline.text-center.tag-list
          - @tags.each do |tag|
            = check_box_tag "intrusion[tag_ids][]", tag.id,
              @intrusion.tags.include?(tag), tabindex: (@tabindex+=1),
              id: "tag#{tag.id}", class: 'hidden'
            %label.label.label-primary.tag-label{for: "tag#{tag.id}"}= tag.name
