.row
  = render partial: 'intrusions/search_form'
.row
  .panel.panel-primary.tag-panel
    .panel-heading.text-center.tag-heading
      = @tag.name
      .inline-list.pull-right
        = link_to 'edit', edit_tag_path(@tag.id), class: 'label label-info'
        = link_to 'delete', @tag, method: :delete, class: 'label label-danger'
    .panel-body= render partial: 'intrusions/intrusions_list'
