.row
  = render partial: 'intrusions/search_form'
  %div{class: 'small-10 centered row'}
    .small-12
      = link_to @tag.name, @tag, class: 'tag'
    .small-12
      = link_to 'delete', @tag, method: :delete, class: 'small-link'
      = link_to 'edit', edit_tag_path(@tag.id), class: 'small-link'
  - @skipNewIntrusionLinks = true
  = render partial: 'intrusions/intrusions_list'