!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "GM Intrusions!"

    -# Bootstrap
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    / Modals
    .modal.fade#modal
      .modal-dialog
        .modal-content
          .modal-header#closeHeading
            %button.close{type: 'button', :'data-dismiss' => 'modal'}
              %span{ :'aria-hidden' => true} &times;
              %span.sr-only Close
          .modal-body#modalBody

    / Content
    %header
      %nav.navbar.navbar-default{role: 'navigation'}
        .container
          .navbar-header
            = link_to 'GMIntrusions.us', root_path, class: 'navbar-brand'
          %ul.nav.navbar-nav
            %li= link_to 'About', ''
            %li= link_to 'Contact Us', ''
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'All Tags', tags_path, id: 'tagsLink'
            %li= link_to 'New Intrusion', new_intrusion_path,
              id: 'newIntrusionLink'
            %li.hidden-sm.hidden-md.hidden-lg= link_to 'New Tag', new_tag_path
            %li.hidden-xs= link_to 'New Tag', new_tag_path, id: 'newTagLink'

    .container#alerts
      - if @error_msgs
        - @error_msgs.each do |msg|
          .alert.alert-danger= msg

      - if @warning_msgs
        - @warning_msgs.each do |msg|
          .alert.alert-warning= msg

      - if @info_msgs
        - @info_msgs.each do |msg|
          .alert.alert-info= msg

      - if @success_msgs
        - @success_msgs.each do |msg|
          .alert.alert-success= msg

    .container
      = yield

    %footer.footer
      .container.text-center
        %nav{role: 'navigation'}
          %ul.list-inline
            %li= link_to 'About', '#'
            %li= link_to 'Contact Us', '#'
        %p
          = link_to 'Numenera and its logo are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2014 Monte Cook Games, LLC.',
            '/disclaimer', class: 'text-muted'

    -# jQuery
    = javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js'
    -# Bootstrap
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    -# Application
    = javascript_include_tag 'application'
