!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "GM Intrusions!"

    -# Bootstrap
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    %header
      %nav.navbar.navbar-default{role: 'navigation'}
        .container
          .navbar-header
            = link_to 'GMIntrusions.us', root_path, class: 'navbar-brand'
          %ul.nav.navbar-nav
            %li= link_to 'About', ''
            %li= link_to 'Contact Us', ''
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'New Intrusion', new_intrusion_path,
              id: 'newIntrusionLink'
            %li= link_to 'New Tag', new_tag_path, id: 'newTagLink'

    /Begin page content
    .container
      - if @error_msg
        - @error_msg.each do |msg|
          .alert-danger= msg

      - if @warning_msg
        - @warning_msg.each do |msg|
          .alert-warning= msg

      - if @info_msg
        - @info_msg.each do |msg|
          .alert-info= msg

      - if @success_msg
        - @success_msg.each do |msg|
          .alert-success= msg

      = yield

    .footer
      .container
        %p.text-muted test
      /
        .container
          %nav
            %ul
              %li= link_to 'About', '#'
              %li= link_to 'Contact Us', '#'
        %p.text-muted
          = link_to 'Numenera and its logo are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2014 Monte Cook Games, LLC.',
            '/disclaimer', id: 'disclaimer'

    -# jQuery
    = javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js'
    -# Bootstrap
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    -# Application
    = javascript_include_tag 'application'
